body {
  background-color: #232323; 
  color: white;
}

.square {
  width: 30%;
  background-color: #3777E6;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

#container {
  margin: 0 auto;
  max-width: 600px;
  padding-top: 30px;
}

header {
  height: 150px;
  background-color: #5C5CE7;
  text-align: center;
}

h1 {
  height: 120px;
  margin: 0;
}

nav {
  height: 30px;
  margin: 0;
  background-color: white;
  color: #5C5CE7;
}

.selected {
  background-color: #5C5CE7;
}
